Repository joe-plumb/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkWme, @matt-FFFFFF, @poornabavapalli, @starlord-daniel

.github/CODEOWNERS:

apis/poi @MarkWme @matt-FFFFFF 
apis/trips @MarkWme @poornabavapalli
apis/user-java @poornabavapalli @starlord-daniel @matt-FFFFFF
apis/userprofile @starlord-daniel

Update server.js (#56)
  apis/userprofile/server.js
Owners: @starlord-daniel

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: none

Update README.md
  apis/trips/README.md
Owners: @MarkWme, @poornabavapalli

Update server.js
  apis/userprofile/server.js
Owners: @starlord-daniel

userprofile update (#61)
  .github/workflows/nodejs.yml
  apis/userprofile/server.js
Owners: @starlord-daniel

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @MarkWme, @poornabavapalli

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: none

Update healthCheckService.go
  apis/trips/tripsgo/healthCheckService.go
Owners: @MarkWme, @poornabavapalli

Update README.md (#62)
  apis/trips/README.md
  apis/trips/tests/healthroute_test.go
  apis/trips/tripsgo/healthCheckService.go
Owners: @MarkWme, @poornabavapalli

Update server.js
  apis/userprofile/server.js
Owners: @starlord-daniel

Update userprofile (#63)
  .github/workflows/nodejs.yml
  apis/userprofile/server.js
Owners: @starlord-daniel

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @MarkWme, @matt-FFFFFF

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: none

Update server.js
  apis/userprofile/server.js
Owners: @starlord-daniel

Update dotnetcore.yml (#64)
  .github/workflows/dotnetcore.yml
  apis/poi/README.md
Owners: @MarkWme, @matt-FFFFFF

userprofile deploy (#66)
  .github/workflows/nodejs.yml
  apis/userprofile/server.js
Owners: @starlord-daniel

Kacky hack hack hack (#67)
  .github/workflows/maven.yml
Owners: none

Initial swap slot test
  .github/workflows/dotnetcore.yml
Owners: none

Change conditions
  .github/workflows/dotnetcore.yml
Owners: none

trigger on workflow change
  .github/workflows/dotnetcore.yml
Owners: none

Fix working dir
  .github/workflows/dotnetcore.yml
Owners: none

correct resource group
  .github/workflows/dotnetcore.yml
Owners: none

CHange for prod
  .github/workflows/dotnetcore.yml
Owners: none

Add slot-name
  .github/workflows/go.yml
Owners: none

deploy to staging and heathceck userprofile
  .github/workflows/nodejs.yml
Owners: none

Update server.js
  apis/userprofile/server.js
Owners: @starlord-daniel

deploy to staging and heathceck userprofile (#69)
  .github/workflows/nodejs.yml
  apis/userprofile/server.js
Owners: @starlord-daniel

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: none

Update server.js
  apis/userprofile/server.js
Owners: @starlord-daniel

Add slot-name (#68)
  .github/workflows/go.yml
Owners: none

Challenge 5/userprofile staging (#70)
  .github/workflows/nodejs.yml
  apis/userprofile/server.js
Owners: @starlord-daniel

deploy changeme container to staging slot, roll when healthy
  .github/workflows/maven.yml
  utils/polling.sh
Owners: none

adding an app change
  apis/user-java/README.md
Owners: @poornabavapalli, @starlord-daniel, @matt-FFFFFF

update azcli action
  .github/workflows/maven.yml
Owners: none

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: none

Update server.js
  apis/userprofile/server.js
Owners: @starlord-daniel

adding an app change (#71)
  .github/workflows/maven.yml
  apis/user-java/README.md
  utils/polling.sh
Owners: @poornabavapalli, @starlord-daniel, @matt-FFFFFF

Update nodejs.yml (#72)
  .github/workflows/nodejs.yml
  apis/userprofile/server.js
Owners: @starlord-daniel

Swap slots userprofile
  .github/workflows/nodejs.yml
Owners: none
